@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  /* width: 80%; */
  margin: auto;
}
body {
  background: linear-gradient(180deg, #ffffff, #b7d9fd);
  background-attachment: fixed;
}
h1 {
  font-size: 4.5em;
}
h2 {
  font-size: 4em;
}
.title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #1b2845;
}
/* Form */
.form-container {
  padding: 20px 0;
  /* border-bottom: 5px solid #111111; */
  box-shadow: 0px 1px 10px rgba(113, 176, 248, 0.521);
}
.form {
  width: 50%;
  margin: auto;
  padding: 20px;
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: 1fr;
}
.form input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

/* Crud Users */
.card-container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
}

.card-container:hover .card {
  filter: blur(2px);
}

.card-container .card {
  position: relative;
  width: 300px;
  min-height: 400px;
  margin: 20px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px #00000031;
  transition: 0.1s;
}

.card-container .card:hover {
  filter: blur(0);
}

.card-container .card .card-circle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #65afff;
  clip-path: circle(180px at center 0);
  text-align: center;
}

.card-container .card .card-circle h3 {
  color: #ffffff;
  font-size: 4em;
  padding: 45px 0;
}

.card-container .card .card-body div {
  color: #1b2845;
}

.card-container .card .card-body {
  position: absolute;
  bottom: 100px;
  left: 30px;
}

.btn-container {
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  font-size: 1em;
  font-weight: 700;
  width: 70px;
  padding: 10px;
  margin: 0px 5px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.bg-dark {
  background-color: #1b2845;
}
.bg-light {
  background-color: #5899e2;
}
.bg-blue {
  background-color: #65afff;
}
